@model AllStudentDegreeCourseNameColor

<h1 class="text-warning text-center"> Course @Model.CourseName Result </h1>
<table class=" table table-bordered table-hover">
    <thead class="thead-dark">
        <tr class="text-center">
            <td>StudentID</td>
            <td>StudentName</td>
            <td>StudentDegree</td>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model.students) {

        <tr>
            <td class="text-center align-middle"> @item.StudentID </td>
            <td class="text-center align-middle"> @item.StudentName </td>
            <td class="text-center align-middle" style="color :@item.Color"> @item.StudentDegree</td>
        </tr>
        }
    </tbody>
</table>

